// Main nextflow config file that lists and sets up all default parameters, configurations and functions.
// Must be located next to main.nf file in the root of the repostiry.


docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

// 1. Parameters

params {
    // input options
    input = false
    outdir = 'results'
    tracedir = "${params.outdir}/pipeline_info"

    metadata_from_file_name = true
    double_check_sample_id = true

    multiqc_prealignment_by_sample = true
    multiqc_prealignment_all = true

    // when set to true, prints help and exits
    help = false

    // when set to true, deletes all intermediate files in process working folders generated with last run on workflow completion (not including staged files)
    cleanup = false

    // container for all processes, excluding those defined with 'withName' (see example below)
    container = 'quay.io/zenome/nf-germline-snv:latest'

    // Genome and references options
    genome = 'GRCh38'
    genomes_base = 's3://ngi-igenomes/igenomes/'

    // process resources defaults
    cpus = 1
    memory = 2.GB
    disk = '30.GB'

    // max resources limits defaults
    max_cpus = 4
    max_memory = 8.GB
    max_time = 8.h

    // execution related defaults
    config = 'conf/base.config'
    echo = false
    errorStrategy = 'finish'
    maxRetries = 3
    maxForks = 200
    queueSize = 200
    executor = 'local'

    // yandex creadentals, specific tou yandex profile only
    accessKey = false // must be always set from command line
    secretKey = false // must be always set from command line

    // Process-specific parameters

    // trim_fastqc
    adapters = null
    adapter_min_overlap = 8
    adapter_trim_end = "RIGHT"
    pre_trim_left = 13
    max_uncalled = 300
    min_read_length = 25
    zip_output = "GZ"

    // Pipeline internal parameters
    sample_name_format = "{sampleID}-{bio-type}-{seq-type}-{seq-machine}-{flowcell-ID}-{lane}-{barcode}-{read-direction}.fq[.gz]"
    sample_name_format_delimeter = '-'
    sample_name_expected_item_number = 8
    sample_name_format_example = "ZD210122-GED-E080AS6-MG-300056277-3-66-F.fq.gz"
}

cleanup = params.cleanup

// 2. Profiles

// Always include base config as it haas required functions
includeConfig 'conf/base.config'

// Option to include any custom non-default non-profile config
includeConfig params.config

profiles {
    test {includeConfig 'conf/test.config'}
    test2 {includeConfig 'conf/test2.config'}
    yandex {includeConfig 'conf/yandex.config'}
}

// 3. Process

// Do not change order of block, must follow after profiles scope (last section that updates params)
process {
    echo = params.echo
    cpus = params.cpus
    memory = params.memory
    maxRetries = params.maxRetries
    maxForks = params.maxForks
    container = params.container
    errorStrategy = params.errorStrategy

    // If your pipeline doesn't include a process named 'step_1', update the name to match your process of choice or delete this block
    withName: fastqc_raw {
        cpus = 2
        memory = '4.GB'
    }
    withName: trim_fastqc {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    }
    withName: map_reads {
        cpus = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    }

}

// 4. Executor

executor {
    name = params.executor
    queueSize = params.queueSize
}



dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  fields = 'process,tag,name,status,exit,script'
}