/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run . -profile test
 */

params {
  config_profile_name = 'Small test with public data'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 4.GB
  max_time = 1.h

  // Input data
  input = "$baseDir/testdata/TESTX/TESTX_test_data_paths.csv"
  metadata_from_file_name = false

  // Annotations
  genome = 'S_cer_build3.1'

}
