/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run . -profile test2
 */

params {
  config_profile_name = 'Small test with private data'
  config_profile_description = 'Minimal test dataset to check pipeline function and s3 access'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 4.GB
  max_time = 1.h

  // Input data
  input = "s3://zenome-ngs-data/nf-germline-nf/testdata/BRCA_demo_1_single_subset_25k/BRCA_demo_1_single_subset_25k.csv"

  // Annotations
  fasta = 'https://github.com/nf-core/test-datasets/raw/hic/reference/W303_SGD_2015_JRIU00000000.fsa'

}
