/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast test using hg38 full reference data.
 * Use as follows:
 *   nextflow run . --config conf/test_exome_small.config -profile yandex --accessKey '<accesskey>' --secretKey '<secretkey>'
 *
 * This test takes around 7-9 hours to run on a 4-cpu instance.
 */

params {
  config_profile_name = 'Big test with full exome private data against full hg38 reference'
  config_profile_description = 'Test dataset to check pipeline performance on full-sized 4 pairs of fq files (total 17 Gb)'

  // Input data
  input = 's3://zenome-ngs-data/nf-germline-nf/testdata/Exome_test_good_bad_subset_full_same_LB.csv'

  // Annotations
  genome = 'hg38'
  target_regions = 's3://zenome-ngs-data/reagents/sureselect/V7/hg38/SS_V7_hg38_regions.bed.interval_list'
  bait_regions  = 's3://zenome-ngs-data/reagents/sureselect/V7/hg38/SS_V7_hg38_probes.bed.interval_list'
}

includeConfig 'yandex.config'