/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast test using hg37 full reference data.
 * Use as follows:
 *   nextflow run . -profile test_hg38
 */

params {
  config_profile_name = 'Full hg38 small test with public data'
  config_profile_description = 'Test dataset to check pipeline function and s3 access with full hg38 reference data'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 1.h

  // Input data
  input = "$baseDir/testdata/TESTX/TESTX_test_data_paths.csv"
  metadata_from_file_name = false

  // Annotations
  genome = 'hg38'
  regions = "$baseDir/assets/regions_files/V7/hg38/SS_V7_hg38_probes.bed.interval_list"
}
