/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast test using hg37 full reference data.
 * Use as follows:
 *   nextflow run . -profile test_hg37,yandex
 */

params {
  config_profile_name = 'Full hg37 small test with private data'
  config_profile_description = 'Test dataset to check pipeline function and s3 access with full hg37 reference data'

  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 1.h

  // Input data
  input = "s3://zenome-ngs-data/nf-germline-nf/testdata/BRCA_demo_1_single_subset_25k/BRCA_demo_1_single_subset_25k_with_biotype_with_LB.csv"

  igenomes = false

  // Annotations
  genome = 'hg37'
  regions = 's3://zenome-ngs-data/reagents/sureselect/V6/hg37/SS_V6_hg19_regions.sorted.merged.no_chr.bed'
}
