aws {
    accessKey = params.accessKey
    secretKey = params.secretKey
    client {
        endpoint = 'https://storage.yandexcloud.net'
    }
}

params {
    igenomes = false
    genomes {
      'hg37' {
        fasta                   = "s3://zenome-ngs-data/references/hs37d5/hs37d5.fa.gz"
        fasta_fai               = "s3://zenome-ngs-data/references/hs37d5/hs37d5.fa.gz.fai"
        bwa                     = "s3://zenome-ngs-data/references/hs37d5/hs37d5.fa.gz.{amb,ann,bwt,pac,sa}"
      }
      'hg38' {
        fasta                   = "s3://zenome-ngs-data/references/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz"
        fasta_fai               = "s3://zenome-ngs-data/references/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz.fai"
        bwa                     = "s3://zenome-ngs-data/references/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz.{amb,ann,bwt,pac,sa}"
      }
      'sacCer3' {
        fasta                   = "s3://zenome-ngs-data/references/sacCer3/genome.fa"
        fasta_fai               = "s3://zenome-ngs-data/references/sacCer3/genome.fa.fai"
        bwa                     = "s3://zenome-ngs-data/references/sacCer3/genome.fa.{amb,ann,bwt,pac,sa}"
      }
      'S_cer_build3.1' {
        fasta                   = "s3://zenome-ngs-data/references/S_cer_build3.1/genome.fa"
        fasta_dict              = "s3://zenome-ngs-data/references/S_cer_build3.1/genome.dict"
        fasta_fai               = "s3://zenome-ngs-data/references/S_cer_build3.1/genome.fa.fai"
        bwa                     = "s3://zenome-ngs-data/references/S_cer_build3.1/genome.fa.{amb,ann,bwt,pac,sa}"
        known_sites             = "s3://zenome-ngs-data/references/S_cer_build3.1/saccharomyces_cerevisiae.vcf.gz"
        known_sites_index       = "s3://zenome-ngs-data/references/S_cer_build3.1/saccharomyces_cerevisiae.vcf.gz.tbi"
      }

    }

}